[submodule "extern/CommonLibF4"]
	path = extern/CommonLibF4
	url = https://github.com/Dear-Modding-FO4/commonlibf4.git
[submodule "extern/Streamline"]
	path = extern/Streamline
	url = https://github.com/northaxosky/Streamline.git
